*,
*:before,
*:after
  box-sizing: inherit

html,
body,
ul,
ol
  margin: 0
  padding: 0

h1,
h2,
h3,
h4,
h5,
h6,
p
  margin: 0

img
  border: none
  outline: none
  max-width: 100%

button,
input,
select,
textarea
  font-family: inherit

input,
select,
textarea
  outline: none

select,
input[type="submit"]
  -webkit-appearance: none