// Clearfix
.clearfix
  *zoom: 1
  &:before,
  &:after
    content: ''
    display: table
  &:after
    clear: both

%clearfix
  *zoom: 1
  &:before,
  &:after
    content: ''
    display: table
  &:after
    clear: both

// Visibility rules
.hide-for-mobile
  +breakpoint($mobile-only)
    display: none !important

.hide-for-tablet-up
  +breakpoint($tablet)
    display: none !important

.hide-for-desktop
  +breakpoint($desktop)
    display: none !important

.hide-for-desktop-down
  +breakpoint(max-width $desktop)
    display: none !important
