// Hover
=hover($color)
  &:hover,
  &:focus
    background-color: darken($color, 20%)

// Generates cross browser styles for placeholders.
=placeholder
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content

// Mixin for reseting select rules.
=no-select
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

// Generates arrow using borders.
=triangle($size, $color, $direction)
  border: $size transparent solid
  content: ''
  display: inline-block
  width: 0
  height: 0
  vertical-align: middle

  @if ($direction == "up")
    border-bottom-color: $color
    border-top: 0

  @else if ($direction == "right")
    border-left-color: $color
    border-right: 0

  @else if ($direction == "down")
    border-top-color: $color
    border-bottom: 0

  @else if ($direction == "left")
    border-right-color: $color
    border-left: 0