<!DOCTYPE html>
<html>
{% block head %}
  <meta charset="utf-8">
  {% include '../blocks/_favicons.twig' %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="js/scripts.js"></script>
  <title>{% block title %}Default page{% endblock %}</title>
{% endblock %}
<body>
    {% block body %}{% endblock %}
</body>
</html>
